<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Property Booking
    </p>
    <p>Congratulations you have successfully booked this property </p>
  </body>
</html>
